.playlist-item span,
.playlist-item img {
  user-select: none;
}

.music-info-wrapper p {
  font-weight: 600;
}

.item-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
