@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
@import url("./loading.css");
@import url("./playlist-item.css");
@import url("./header.css");
@import url("./buttons.css");
@import url("./ranges.css");

:root {
  --color-50: #f1f6fd;
  --color-100: #dfecfa;
  --color-200: #c6ddf7;
  --color-300: #9fc8f1;
  --color-400: #72a9e8;
  --color-500: #508ae1;
  --color-600: #3f71d5;
  --color-700: #325bc3;
  --color-800: #2f4b9e;
  --color-900: #2a427e;
  --color-950: #1e2a4d;
  --white: #ffffff;
  --status-bar-color: #ff0000;
  --deselect-region-color: #2f4b9e80;
  --loading-color: #dfecfa80;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard GOV Variable", "Malgun Gothic";
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  max-width: 1000px;
  min-height: 600px;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

#header-wrapper {
  background-color: var(--color-900);
}

#main-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#loading {
  width: 100%;
  height: 100%;
  background-color: var(--loading-color);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playlist-wrapper {
  overflow-y: auto;
  padding: 10px 0px;
  background-color: var(--color-50);
  flex-grow: 1;
}

#audio-btn-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-400);
}

#btn-wrapper {
  display: flex;
  padding-left: 20px;
}

#range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px;
  background-color: var(--color-400);
}

#canvas-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 150px;
  position: relative;
  background-color: var(--color-50);
}

#canvas-wrapper > canvas {
  position: absolute;
}

#audio-status {
  z-index: 1;
}
