@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");

:root {
  --color-50: #f1f6fd;
  --color-100: #dfecfa;
  --color-200: #c6ddf7;
  --color-300: #9fc8f1;
  --color-400: #72a9e8;
  --color-500: #508ae1;
  --color-600: #3f71d5;
  --color-700: #325bc3;
  --color-800: #2f4b9e;
  --color-900: #2a427e;
  --color-950: #1e2a4d;
  --white: #ffffff;
  --status-bar-color: #ff0000;
  --deselect-region-color: #2f4b9e80;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard GOV Variable", "Malgun Gothic";
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 1000px;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

#app > div {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

#header-wrapper {
  background-color: var(--color-900);
}

#header-title {
  color: var(--white);
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 700;
}

#playlist-wrapper {
  min-height: 400px;
  overflow-y: auto;
  padding: 10px 0px;
  background-color: var(--color-50);
}

.playlist-item {
  padding: 5px 10px;
}

.playlist-item > div {
  background-color: var(--color-200);
  padding: 10px;
  border-radius: 10px;
}

.item-over {
  border-top: 2px solid var(--color-600);
}

.item-selected {
  opacity: 0.5;
}

.item-clicked > div {
  background-color: var(--color-900) !important;
  color: var(--white);
}

#audio-btn-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color-400);
}

#btn-wrapper {
  display: flex;
  padding-left: 20px;
}

#range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px;
  background-color: var(--color-400);
}

.range {
  width: 100%;
  display: flex;
  align-items: center;
}

.range > label {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
  text-align: center;
}

.range > input[type="range"] {
  width: 100%;
  margin: 10px auto;
}

.audio-btn {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 5px;
  background-color: var(--white);
  border-radius: 10px;
  user-select: none;
}

.audio-btn > img {
  width: 20px;
  height: 20px;
}

.audio-btn:hover {
  background-color: var(--color-900);
  transition-duration: 0.25s;
}

.audio-btn:hover > img {
  filter: invert(1);
  transition-duration: 0.25s;
}

#canvas-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 150px;
  position: relative;
  background-color: var(--color-50);
}

#canvas-wrapper > canvas {
  position: absolute;
}

#audio-status {
  z-index: 1;
}
