.disable-loading {
  display: none !important;
}

#loading > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading p {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

#upload-json-file {
  background: none;
  outline: none;
  border: none;
  background-color: var(--color-400);
  font-weight: 700;
  color: var(--white);
  padding: 10px 20px;
  font-size: 1.3rem;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#json-file-input {
  display: none;
}
